name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - app/**
  workflow_dispatch:    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set image tag
      run: | 
        echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV  

    - name: Build & push Flask image
      run: |
        docker build -t luciancibu/flask-counter:$TAG ./app/flask
        docker push luciancibu/flask-counter:$TAG

    - name: Build & push Nginx image
      run: |
        docker build -t luciancibu/nginx-resume:$TAG ./app/nginx
        docker push luciancibu/nginx-resume:$TAG

    - name: Set kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG }}" > kubeconfig
        echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV

    - name: Update images in Kubernetes
      run: |
        kubectl set image deployment/appflask appflask=luciancibu/flask-counter:$TAG
        kubectl set image deployment/appnginx appnginx=luciancibu/nginx-resume:$TAG
